parameters:
	ignoreErrors:
		-
			message: '#^You should not use the `die` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: ajax/showentitygroups.php

		-
			message: '#^You should not use the `die` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: ajax/showentitymandatorygroup.php

		-
			message: '#^You should not use the `die` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: ajax/showentitymandatoryjustification.php

		-
			message: '#^Method GlpiPlugin\\Transferticketentity\\Entity\:\:getTabNameForItem\(\) should return ''Entity ticket…'' but returns ''''\.$#'
			identifier: return.type
			count: 1
			path: src/Entity.php

		-
			message: '#^PHPDoc tag @param for parameter \$item with type object is not subtype of native type CommonGLPI\.$#'
			identifier: parameter.phpDocType
			count: 2
			path: src/Entity.php

		-
			message: '#^You should not use the `die` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: src/Entity.php

		-
			message: '#^Access to an undefined property CommonGLPI\:\:\$fields\.$#'
			identifier: property.notFound
			count: 1
			path: src/Profile.php

		-
			message: '#^Method GlpiPlugin\\Transferticketentity\\Profile\:\:getAllRights\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Profile.php

		-
			message: '#^You should not use the `die` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: src/Profile.php

		-
			message: '#^Method GlpiPlugin\\Transferticketentity\\Ticket\:\:getTabNameForItem\(\) should return ''Entity ticket…'' but returns ''''\.$#'
			identifier: return.type
			count: 1
			path: src/Ticket.php

		-
			message: '#^Method GlpiPlugin\\Transferticketentity\\Ticket\:\:showFormMcv\(\) with return type void returns false but should not return anything\.$#'
			identifier: return.void
			count: 4
			path: src/Ticket.php

		-
			message: '#^PHPDoc tag @param for parameter \$item with type object is not subtype of native type CommonGLPI\.$#'
			identifier: parameter.phpDocType
			count: 2
			path: src/Ticket.php

		-
			message: '#^You should not use the `die` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: src/Ticket.php
